logs/
/venv
.env
.git
/dbdata
/teste
.meltano/extractors/tap-postgres/venv/bin/python
.meltano/extractors/tap-postgres/venv/bin/python3
.meltano/extractors/tap-postgres/venv/bin/python3.10
.meltano/extractors/tap-csv/venv/bin/python
.meltano/extractors/tap-csv/venv/bin/python3
.meltano/extractors/tap-csv/venv/bin/python3.10
.meltano/extractors/tap-s3-csv/venv/bin/python
.meltano/extractors/tap-s3-csv/venv/bin/python3
.meltano/extractors/tap-s3-csv/venv/bin/python3.10
.meltano/loaders/target-csv/venv/bin/python
.meltano/loaders/target-csv/venv/bin/python3
.meltano/loaders/target-csv/venv/bin/python3.10
.meltano/loaders/target-postgres/venv/bin/python
.meltano/loaders/target-postgres/venv/bin/python3
.meltano/loaders/target-postgres/venv/bin/python3.10

.meltano/run/bin
